{% extends "base.html.twig" %}
{% block title %}Hi there {{ name }} {% endblock %}
{% block body %}
    <h1>Below are the notes</h1>
    <ul>
        {% for note in notes %}
            <li>{{ note }}</li>
        {% endfor %}

    </ul>


{% endblock %}